body {
  background-color: pink;
}

main {
  background-color: white;
}

nav p {
  font-family: fantasy;
}

#hero-content h1 {
  color: green;
  font-family: fantasy;
}

#hero-content p {
  color: black;
  font-family: cursive;
  font-size: 12px;
}

#hero-content .first-cta {
  background-color: white;
  color: black;
  padding: 6px 16px;
}

#hero-content .second-cta {
  background-color: white;
  color: black;
  padding: 6px 16px;
}
