body {
  background-color: white;
}

#header {
  background-color: white;
  border: 5px solid darkgreen;
  font-family: fantasy;
  color: darkgreen;
}

#header h2 {
  color:black;
  font-family: cursive;
}

#header .left {
  display: inline-block;
}

#header .right {
  float: right;
}

nav ul li {
  display: inline-block;
}

main {
  float: left;
  background-color: white;
  color: firebrick;
  font-family: fantasy;
  font-size: 9px;
  font-size: 0.6rem;
}

#display {
  border: 5px solid black;
}

#display h1 {
  background-color: white;
  color: firebrick;
  border: 2px solid black;
  display: inline;
  padding: 5px;
}

#sidebar {
  float: right;
  width: 200px;
  height: 100px;
  text-align: center;
}

#sidebar h1 {
  font-family: cursive;
  color: firebrick;
}

#sidebar h2 {
  font-family: cursive;
  color: firebrick;
}

#sidebar input {
  padding: 6px;
  border: 2px solid darkgreen;
  border-radius: 15px;
  font-family: fantasy;
}
